TARGET=http://localhost:3001
DRAWING_TIME=60
TOTAL_ROUNDS=1
MAX_PLAYER=<DURATION>*<ARRIVAL_RATE>
DURATION=10
ARRIVAL_RATE=20
ROOM_COUNT=50
PLAYER_PER_ROOM=4

REDIS_URL=redis://localhost:6379
RUN_ID=test_001
