PORT=3000
NODE_ENV=development
MYSQL_HOST=127.0.0.1
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_PORT=3306
MYSQL_DATABASE=daVinci_toss
CORS_ORIGIN=http://localhost:5173
TOSS_API_BASE_URL=https://apps-in-toss-api.toss.im
TOSS_API_KEY=TossApiKey
TOSS_DECRYPT_KEY=TossDecryptKey
TOSS_DECRYPT_AAD=TOSS
TOSS_CLIENT_CERT_PATH=./certs/davinci_public.crt
TOSS_CLIENT_KEY_PATH=./certs/davinci_private.key
